*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
ul {
	text-decoration: none;
	list-style: none;
}

h1 {
	font-weight: 700;
	font-size: 60px;
	line-height: 82px;
	color: #FFFFFF;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
}

html {
	font-family: 'Nunito', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	background: #E5E5E5;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.container {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
}

.btn {
	background: #FFC839;
	color: black;
	font-family: 'Roboto', sans-serif;
	transition: .3s;
}

.btn:hover{
	box-shadow: 3px 2px 5px 0 black;
}

/* header */

.header {
	background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url(../img/header/01.png);
	background-size: cover;
	padding: 40px 0 75px;
}

.header__items {
	display: flex;
	justify-content: space-between;
}

.header__item-navigation {
	max-width: 600px;
	width: 100%;
}

.header__items-nav {
	display: flex;
	justify-content: space-between;
}

.header__item-nav{
	transition: .3s;
}

.header__item-nav:hover{
	transform: translateY(-5px);
}

.header__nav-link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}


/* hero */

.hero {
	padding-top: 150px;
}

.hero-title {
	margin-bottom: 20px;
}

.hero-untitle {
	font-weight: 400;
	font-size: 29px;
	line-height: 40px;
	color: #FFFFFF;
	margin-bottom: 80px;
}

.hero__block {
	background: #FFFFFF;
	max-width: 1241px;
	max-height: 174px;
}

.hero__block-items {
	padding: 14px 70px 15px 90px;
	display: flex;
	flex-wrap: wrap;
}

.hero__block-item:nth-child(1) {
	width: 203px;
	height: 61px;
	background: #FFF0CB;
	margin-right: 25px;
	margin-bottom: 25px;
}

.hero__block-item:nth-child(2) {
	width: 828px;
	height: 61px;
	background: #FFF0CB;
	margin-right: 25px;
	margin-bottom: 25px;
}

.hero__block-item:nth-child(3) {
	width: 203px;
	height: 61px;
	background: #FFF0CB;
	margin-right: 25px;
}

.hero__block-item:nth-child(4) {
	width: 179px;
	height: 61px;
	background: #FFF0CB;
	margin-right: 25px;
}

.hero__block-item:nth-child(5) {
	width: 179px;
	height: 61px;
	background: #FFF0CB;
	margin-right: 25px;
}

.hero__block-item:nth-child(6) {
	width: 179px;
	height: 61px;
	background: #FFF0CB;
	margin-right: 25px;
}

.hero-btn {
	padding: 15px 72px;
	font-size: 23px;
	line-height: 27px;
}

.logo-link{
	transition: .5s;
}

.logo-link:hover{
	transform:rotate(360deg);
}

/* /hero */
/* /header */

/* example */

.example {
	padding: 70px 0 100px;
}

.example__items {
	display: flex;
}

.example__item {
	max-width: 400px;
	max-height: 550px;
	background-color: #FFf;
	transition: .3s;
}

.example__item:hover {
	background-color: #C38F07;
}

.example__items-link:not(:last-child) {
	margin-right: 20px;

}



.example__item-img {
	max-width: 400;
	max-height: 415px;
	width: 100%;
}

.example__item-bottom {
	padding: 25px;
	align-items: center;
	display: flex;
}

.example__item-text {
	text-align: right;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
	background: url(../img/example/04.svg);
	background-repeat: no-repeat;
	padding: 10px 0 15px 50px;
	transition: .3s;
}

.example__item-text:hover {
	background: url(../img/example/05.svg);
	background-repeat: no-repeat;
}



/* example */

/* why */

.why {
	padding: 100px 0 100px;
}

.why__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.why__text-item {
	margin-bottom: 20px;
	padding: 10px 0 10px 120px;
}

.why__text-item:nto(:last-child) {
	margin-right: 20px;
}

.why__text-item:nth-child(2) {
	background-image: url(../img/why/02.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.why__text-item:nth-child(3) {
	background-image: url(../img/why/03.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.why__text-item:nth-child(4) {
	background-image: url(../img/why/04.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.why-title {
	color: #323232;
	margin-bottom: 80px;
}

.why__text-title {
	font-weight: 400;
	font-size: 29px;
	line-height: 40px;
	color: #4A4A4A;
	margin-bottom: 10px;
}

.why__txt-item {
	font-weight: 400;
	font-size: 21px;
	line-height: 29px;
	color: #4A4A4A;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.why__items-img {
	max-width: 425px;
	max-height: 555px;
	position: relative;
}

.why__items-img::before {
	content: "";
	position: absolute;
	top: 50px;
	left: 0;
	width: 477px;
	height: 431px;
	background: #FFC839;
}

.booking__items {
	background: #FFF5DA;
	padding: 126px 10px 105px 165px;
}
.booking__item-title {
	margin-bottom: 10px;
}

.booking__item-untitle {
	margin-bottom: 20px;
	font-weight: 400;
	color: #646464;
}

.booking__item-tel {
	
	max-width: 600px;
	width: 100%;
	padding: 13px 170px 13px 75px;
	font-family: inherit;
	font-size: 25px;
	font-weight: 400;
	line-height: 40px;
	color: #000;
	border: 1px solid #000;
	outline: none;
	background-image: url('../img/booking/01.svg');
	background-repeat: no-repeat;
	background-position: center left 20px;

}

.booking__item-btn {
	font-size: 25px;
	font-family: inherit;
	font-weight: 400;
	line-height: 40px;
	padding: 6px 40px;
	background-color: #FFC839;
	margin-left: -152px;
	transition: .3s;
}

.booking__item-btn:hover{
	box-shadow: 2px 2px 3px 0 black;
}

/* /booking */


/* inspiration */



.inspiration-title {
	margin-bottom: 45px;
}

.inspiration__items-top {
	display: flex;
	border-bottom: 1px solid #D7D6D6;
	padding-bottom: 60px;
}

.inspiration__items-left {
	max-width: 620px;
}

.inspiration__item-info {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #606060;
	margin-bottom: 40px;
}


.btn-inpiration {
	padding: 10px 35px;
	font-size: 29px;
	line-height: 40px;
	font-weight: 400;
}

.inspiration-link {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #000000;
	transition: .3s;
}

.inspiration-link:not(:last-child) {
	border-right: 1px solid #000;
	padding-right: 10px;
}

.inspiration-link:hover{
	text-decoration: underline;
}

.inspiration__items-bottom {
	padding: 50px 0 110px;
	display: flex;
	align-items: center;
}

.left-link {
	margin-right: 50px;
}

.bottom__right-items {
	max-width: 550px;
}

.inspiration__bottom-title {
	text-align: left;
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	color: #323232;
	margin-bottom: 65px;
}

.inspiration__bottom-text {
	text-align: left;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	align-items: flex-end;
	color: #4A4949;
}

/* inspiration */


/* ideas */

.ideas {
	padding: 120px 0 110px;
}


.ideas-title {
	margin-left: 15px;
	margin-bottom: 45px;
}

.ideas__items {
	display: flex;
	flex-wrap: wrap;
}

.ideas__item{
	transition: .3s;
}

.ideas__item:hover{
	transform: translateY(-10px);
}

.ideas__item-link {
	margin: 12px;
}

.ideas__item-img {
	max-width: 285px;
	max-height: 406px;
}

/* ideas */

/* footer */

.footer {
	background: #093A7A;
	padding: 30px 0 30px;
}

.footer__items-top {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.footer__center-navigation {
	margin-top: 20px;
}

.footer-title {
	margin-top: 30px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #FFFFFF;
}

.footer__nav-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #E6E5E5;
}

.footer__top-items {
	display: flex;
	justify-content: space-between;
}

.footer__nav-items {
	display: flex;
}

.footer__nav-item,
.footer__item-nav{
	transition: .3s;
}

.footer__nav-item:hover,
.footer__item-nav:hover{
	transform: scale(1.1) translateY(-2px);
}

.footer__nav-link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #CACACA;
	margin-right: 30px;
	transition: .3s;
}


.footer__center-navigation:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	padding-bottom: 20px;
}

.footer__items-bottom {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright,
.address,
.footer__email {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: #CACACA;
	transition: .3s;
}

.footer__email:hover{
	transform: scale(1.2);
}
